---
sudo: false
dist: trusty
language: ruby
cache: bundler
before_install:
  - bundle -v
  - rm -f Gemfile.lock
  - gem update --system
  - gem --version
  - bundle -v
script:
  - 'bundle exec rake $CHECK'
bundler_args: --without system_tests
rvm:
  - 2.4.1
env:
  global:
    - BEAKER_PUPPET_COLLECTION=puppet5 PUPPET_GEM_VERSION="~> 5.0"
matrix:
  fast_finish: true
  include:
    -
      env: CHECK="syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop"
    -
      env: CHECK=parallel_spec
    -
      env: PUPPET_GEM_VERSION="~> 4.0" CHECK=parallel_spec
      rvm: 2.1.9
    -
      env: PUPPET_VERSION="~> 4.0" CHECK=test DEPLOY_TO_FORGE=yes
branches:
  only:
    - master
    - /^v\d/
notifications:
  email: false
deploy:
  provider: puppetforge
  user: arctictern
  password:
    secure: "Fe9mbo5N/37aS4f5O9NLRXRs/jSQE/AyCeGZAG0lf6P23nyj9Uc+8c24eoexMWW6LmwmTxyTOJqfe496Qu30z3xTSNin/PzLX2MWHLtNXKMoGrMdSuB6B8zXAqJgm5mY5qdW5JH8VJT3ZRvcBVaBT+HBdPZZ0oid7XKME0LNEPHAjS6RTewd8TbuRkPEcFQA4Q/Wkbex0qrhYae87o1Qip4uLqWGRESXfjUGF5l2OTxY5HGvbVMuZ3KeYrT3eaMgPSza913BSQDssI4j/6b9Al8H6XS/MKO9R8Tq84hwbffGpkyPHBnYiEb5hmSGDnu6WjQjX6DgaQnnedZYXYEYcAPUrM7JfbbougUid5Oo33csi+8a2hfZ3sGo2d7IusD3GlG4158IfHvLGSFAH9DvbfqAvx15YwH3A3aCsTD9EEkuSMt6XnNuumie9xKz6hNB/Zdi6WnNMgc10Bf/Elq5zxwSb+fQR3SpPw8ortAaWxUu+sGm6w8m8023sPEjp0QCrAkD41Ugf0W9/CHU2akQTt4wiLfshlwyBnt7yaaaezmXkz2jXUSuNUiW8Tm5f9aab1MhGQwRZpLVOcJ8B/vV5+q542SUUuZPeC7gm7g6h4Gvkc7gIOlEI2V8ZyTAW8U1eBoyWtSmhUicqSKk3mSbxsv6wALabhOJlxe6lFO49yE="
  on:
    tags: true
    all_branches: true
    condition: "$DEPLOY_TO_FORGE = yes"